@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

body{
  font-family: 'Open Sans', sans-serif;
  color: white;
  /* core: 30D */
  background: linear-gradient(rgba(0,0,0,1),rgba(231, 7, 225, 0.4));
  height: 100vh;
  
}
/* core: 22C-1*/
#homePage{
  background: #ab2a19;
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 35px;
  padding-right:18vw;
/* core: 25C */
  position: relative;
}
/* core: 22C-5, 23F, 24D */
p + p{
  background-image: url("Nyandolf.jpg");
  height: 100px;
  width: 400px;
  background-position: center;
  border: 5px solid purple;
/* core: 25C */
  position: absolute;
  top:450px;
  left: 500px;
}

#homePage + p{
  padding-top: 10px;
  font-size: 30px;
  font-weight: 800;
}

#homePage img{
  position: fixed;
  top: 50px;
  left: 50px;
  width: 50px;
  height: 50px;
  margin-right: 10px;

}

input{
  width: 80px;
  height: 80px;
  border: 1px solid white;
}
/* core: 26G */
input:focus{
/* core: 28E */
  transform: scale(4,4);
/* core: 28D */
  transition: transform 2s ease-in-out;
}

img:hover{
  animation: moveyourbody 3s;
}
/* core: 28C */
@keyframes moveyourbody{
from {
  top: 50px;
  left: 50px;
}
to{
  top: 80px;
  left: 1000px;
}
}

.shelfBar{
  margin: auto;
  /* core: 25D */
  float: center;
  height: 325px;
  width:500px;
  padding-top:40px;
  /* core: 30C */
  box-shadow: -1px 0 20px 20px #36BFE5, 1px 0 #36BFE5, 0 -1px #36BFE5, 0 1px #36BFE5;
}
#texteffect{
  /* core: 25C */
  position: fixed;
  top: 400px;
  right: 100px;
  height: 100px;
  width: 300px;
  overflow: hidden;
  /* core: 30E */
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 4px solid pink;
}

.shelfBar div{
  height: 60px;
  width: 100%;
  background: #D34735;
  font-size: 29px;
  font-weight: 700;
  padding-top: 15px;
  padding-left: 75px;

}

a {
  text-decoration: none;
  color: white;
}

.flexing{
  margin: auto;
  width: 600px;
  height: 300px;
  border: 3px solid white;
  display: flex;
  /* core: 27E */
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  /* flex-direction: column; */
  align-items: center;
}

.flexing div{
  border: 2px dotted yellow;
  width: 100px;
  height: 40px;
}
